.card {
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, #1dd1a1, #54a0ff);
  border-radius: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transform: scale(0.8);
   box-shadow:
    0 0 20px rgba(0, 180, 255, 0.4),
    0 0 40px rgba(0, 180, 255, 0.2);
}
